body {
    font-size: 32px;
}

ol {
    list-style-type: upper-roman;
}

li > ol {
    list-style-type: lower-latin;
}

ul > li {
    list-style-image: url("./circle.png");
}

ul > li > ul > li {
    list-style-image: url("./check.png");
}

ul > li > ul > li > ul > li {
    list-style-image: url("./check3.png");
}

.mark_check2 {
    list-style-image: url("./check2.png");
}

.red_ {
    color: red;
}

.orange_ {
    color: orange;
}

.green_ {
    color: green;
}

.cyan_ {
    color: cyan;
}

.purple_ {
    color: purple;
}

li {
    color: black;
}