@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './text_decoration.css';

body {
    font-family: Montserrat;
    background-color: aliceblue;
}

ul {
    color: blueviolet;
/*    margin: 0% 15% 0% 15%;*/
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}


p {
    
    margin: 0% 15% 0% 15%;
    word-wrap:break-word;
    font-size: 11.5pt;
}

blockquote {
    margin: 0% 15% 0% 15%;
    word-wrap: break-word;
    font-size: 12pt;
    font-style: italic;
    font-weight: 360;
    
}

img {
    align-content: center;
    border: solid;
    border-width: 1px;
    width: 45%;
    float: right;
    margin: 0% 5% 2% 0%;
}

table, td, th {
    border: 1px solid #aeaed3;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 500px;
}

table caption {

    font-style: italic;
}

table th {
    background-color: #6b5fb5;
    color: white;
    font-weight: 700;
    font-size: 1.2em; 
}

table td{
    padding: 5px 10px;
    font-weight: 400;
    color: #333;
    font-size: 1em;
}


