.importantly {
    font-weight: bolder;
}

.subline {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-weight: 550;
}

.cite {
    text-align: right;
    font-size: 15px;
    font-style: italic;
}

.interesting {
    text-align: right;
    font-size: 15px;
    text-decoration: underline;
}

.nextTXTBtn {
    margin: 0% 0% 0% 95%;
}

.prevTXTBtn {
    margin: 0% 5% 0% 0%;
}

.just {
    color: black;
    margin: 0% 15% 0% 15%;
}