table {
    background-color: aqua;
}

.boatUP {
    background-color: #666600;
}

.boatDOWN {
    background-color: #663300;
}

.flag {
    background-color: #ff0000;
}

.sun {
    background-color: #ffff00;
}

.deepCyan {
    background-color: #003399;
}